<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Merblog</title>
<meta name="keywords" content="merb,blog" />
<meta name="description" content="merblog" />
<link href="/stylesheets/style.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<div id="header-wrapper">
	<div id="header">
		<div id="menu">
			<ul>
			   <li class="current_page_item"><a href="/">Home</a></li>
			   <li><a href="mailto:eiffelqiu@gmail.com">Contact</a></li>
			   <li>
					<% if !login? %> 
						<%= link_to 'login', '/login' %>
					<% else %>
						<%= link_to 'logout', '/logout' %>
					<% end  %>
				</li>			
			</ul>
		</div>
		<!-- end #menu -->
		<div id="search">
			<form method="get" action="/">
				<fieldset>
				<input type="text" name="q" id="q" size="15" />
				<input type="submit" id="search-submit" value="Search" />
				</fieldset>
			</form>
		</div>
		<!-- end #search -->
	</div>
	<!-- end #header -->
</div>
<!-- end #header-wrapper -->
<div id="page">
	<div id="logo">
		<h1><a href="/">Merblog</a></h1>
	</div>
	<!-- end #logo -->
	<div id="content">
		<%= catch_content :for_layout %>           
	</div>
	<!-- end #content -->
	<div id="sidebar">
		<ul>
			<li>
				<h2><strong>Merblog</strong> is a simple blog written with <a href="http://www.merbivore.com/">Merb framework</a> </h2>
				<p></p>
			</li>
		</ul>
	</div>
	<!-- end #sidebar -->
	<div style="clear: both;">&nbsp;</div>
	<div id="footer">
		<p>Copyright (c) 2008 <%= link_to 'www.likenote.com','http://www.likenote.com' %>. All rights reserved.</p>
	</div>
	<!-- end #footer -->
</div>
<!-- end #page -->
</body>
</html>
